<ion-view title="Add Bills">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Payee</span>
                <input type="text" placeholder="ex. Power Company">
            </label>
            <label class="item item-input" name="Amount Due">
                <span class="input-label">Amount Due</span>
                <input type="tel" placeholder="ex. $20.00">
            </label>
            <label class="item item-input" name="Due Date">
                <span class="input-label">Due Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="Category">
                <span class="input-label">Category</span>
                <input type="text" placeholder="Utilities">
            </label>
        </form>
        <a href="#/bills" class="button button-stable button-block ">Add Bill</button>
    </ion-content>
</ion-view>
