<ion-view title="Add Savings Goals">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Savings Goal Name">
                <span class="input-label">Goal Name:</span>
                <input ng-model="vm.savingsGoalInfo.name" type="text" placeholder="ex. New Car">
            </label>
            <label class="item item-input" name="Savings Goal Amount">
                <span class="input-label">Goal Amount:</span>
                <input ng-model="vm.savingsGoalInfo.amount" type="text" placeholder="ex. $20.00">
            </label>
        </form>
        <button type="button" name="button" ng-click="vm.callFunction()"></button>
        <a ng-href="#/savingsGoals" type="button" class="button button-stable button-block" ng-click="vm.addSavingsGoal()">Add Savings Goal</a>
    </ion-content>
</ion-view>
