<ion-view title="Budget">
    <ion-content padding="true" class="has-header">
        <h2>Big Picture</h2>
        <ion-list>
          <!-- Show Available funds in checking -->
            <ion-item href="#/accounts">Accounts</ion-item>
          <!-- Show Most important savings goal -->
            <ion-item href="#/savingsGoals">Savings Goals</ion-item>
          <!-- Show Show total amount for monthly bills -->
            <ion-item href="#/bills">Next Bill</ion-item>
          <!-- Show all categories with amount spent from transactions -->
            <ion-item href="#/transactions">Recent Transactions</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
