<ion-view title="Home ">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item href="#/accounts">Available funds</ion-item>
            <ion-item href="#/savingsGoals">Savings Goals</ion-item>
            <ion-item href="#/bills">Next Bill</ion-item>
            <ion-item href="#/transactions">Recent Transactions</ion-item>
            <ion-item href="#/budget">Budget</ion-item>
        </ion-list>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>
